/* RESET */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Oscar, Helvetica, Arial, sans-serif; /* default font */
  font-weight: 600;
}

body * {
  font-family: inherit;
}

/* a {
  color: #000;
} */

.section-padding {
  width: 100%;
  padding: 0 100px;
  max-width: 1280px;
  margin: 0 auto;
  text-decoration: none;
}

/* FLEX */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

/* .flex-wrap {
  flex-wrap: wrap;
} */

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-items-center {
  display: flex;
  align-items: center;
}

.flex-justify-content-center {
  display: flex;
  justify-content: center;
}

.flex-align-items-start {
  align-items: flex-start;
}

/* TOP-NAV-BAR */
.top-nav-bar {
  width:100%;
  /* height:42px; */
  padding: 20px 0px;
  text-align: center;
  font-size: 14px;
  color: #001837;
  background-color: #f6f7f8;
}

.top-nav-bar p {
  text-align: center;
}
.top-nav-bar a {
  text-decoration-color: #003bde;
}

/* SECOND NAV BAR */
.second-nav-bar-right a:not(.small-button) {
  display: inline-block;
  padding: 30px 10px;
}

.second-nav-bar-top-left nav:first-child span {
  color: #003bde;
  font-size: 17.5px;
}

.second-nav-bar-right nav:last-child a {
  margin-left: 10px;
  margin-right: 10px;
}

.second-nav-bar-right nav:last-child .icon {
  font-size: 11px;
}


/* .second-nav-bar-top-left a:nth-child(2) {

} */

.small-button {
  display: inline-block;
  border: 1px solid #dee1e5;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  min-width: 120px;
}

.large-button {
  display: inline-block;
  border: 1px solid #dee1e5;
  padding: 20px 30px;
  border-radius: 5px;
  text-align: center;
  min-width: 200px;
  font-size: 20px;
  color: #fff;
}

.light-button {
  border: 1px solid #dee1e5;
  color: #003bde;
  transition: border 0.5s;
  transition-timing-function: ease-in-out;
}

.light-button:hover {
  border: 1px solid #003bde;
}

.light-to-clear-button {
  background-color: rgba(255, 255, 255, 1);
  color: #003bde;
  transition: background-color .5s, color .5s;
}

.light-to-clear-button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}

/* Hero */

/* Hero */
.Hero {
  height: 500px;
}

.Hero > div {
  height: 100%;
  width: 50%;
}

.Hero > div > div {
  width: 640px;
}

.Hero h2 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 20px;
}

.Hero > div:first-child {
  background-image: url("../images/hero/desktop-hero-1.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.Hero > div:first-child > div {
  /* width: 640px; */
  padding-left: 100px;
}

.Hero > div:last-child {
  background-image: url('../images/hero/desktop-hero-2.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.Hero > div:last-child > div {
  padding-right: 100px;
  padding-left: 75px;
}

/* Tile-2 */
.second-tile p {
  margin: 0;
  padding: 10px 0px;
}
.second-tile p:nth-child(1) {
  font-family: avenir-medium,Helvetica,sans-serif;
  line-height: 18px;
  font-size: 14px;
  color: #051033;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.second-tile p:nth-child(2) {
  font-family: tiempos-headline-regular,serif;
  line-height: 49px;
  font-size: 36px;
  text-align: center;
  color: #000;
  width:895.95px;
}

/* Third tile */

.third-tile h1 {
  font-size: 72px;
  font-family: tiempos-headline-semibold,serif;
  color: #003bde;
}

.third-tile img {
  border-radius: 50%;
}

.third-tile-top-left, .third-tile-middle-1, .third-tile-middle-2, .third-tile-top-right {
  display: flex;
  flex-direction: column;

}

.three-images {
  height: 400px;
}

.background-image-third-tile-1 {
  width: 100%;
  background-image: url(../images/background-images/background-1.jpg);
}

.background-image-fourth-tile-1 {
  width: 100%;
  background-image: url(../images/background-images/background-2.png);
}

.background-image-fifth-tile-1 {
  width: 100%;
  background-image: url(../images/background-images/background-3.jpg);
}

.tile-6-left {
  height: 420px;
  border: 1px solid #d8d8d8;
  text-align: center;
  width: 530px;
}

.tile-6-left img {
  width: 230px;
  height: 180px;
}

.tile-6-right img {
  width: 230px;
  height: 180px;
}


.tile-6-right {
  height: 420px;
  border: 1px solid #d8d8d8;
  border: 1px solid #d8d8d8;
  text-align: center;
  width: 530px;
}
